* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.negro {
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco {
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
